<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EmpManager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployee">
               Add Employee
            </button>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <!--Add Employee Modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form  #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">

                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Full Name</label>
                    <input type="text" ngModel name="full_name" class="form-control" id="exampleInputName1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" ngModel name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
               
                <div class="mb-3">
                    <label for="exampleInputMobile1" class="form-label">Mobile Number</label>
                    <input type="text" ngModel name="mobilenumber" class="form-control" id="exampleMobile1" >
                </div>

                <div class="mb-3">
                    <label for="exampleInputDesignation1" class="form-label">Designation</label>
                    <input type="text" ngModel name="designation" class="form-control" id="exampleInputDesignation1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputDepartment1" class="form-label">Department</label>
                    <input type="text" ngModel name="department" class="form-control" id="exampleInputDepartment1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputimageUrl1" class="form-label">Image Url</label>
                    <input type="text" ngModel name="imageurl" class="form-control" id="exampleInputImageUrl1">
                </div>

                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
              </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div  class="container" style="margin-top: 15px;">
    <div class="row">
        <div  *ngFor="let emp of employees" class="col-md-8 col-xl-3">
            <div    class="card m-b-20" style="border: 1px solid grey ;">
                <div   class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-5 card-title align-self-center mb-0">
                        <h5>{{emp.name}}</h5>
                        <p class="m-0"></p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i><a href="#"> {{emp.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i> {{emp.mobilenumber}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips" data-placement="top"  data-bs-toggle="modal" data-bs-target="#updateEmployee"> <i class="fa fa-pencil"></i> </a>

  <!--Update Employee Modal -->
  <div class="modal fade" id="updateEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form #updateForm="ngForm" (ngSubmit)="onUpdateEmployee(updateForm)">
              <input type="hidden" ngModel name="id" value="{{emp.id}}" class="form-control" id="exampleInputId1">
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Full Name</label>
                    <input type="text" ngModel name="name" class="form-control" id="exampleInputName1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email"  ngModel name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
               
                <div class="mb-3">
                    <label for="exampleInputMobile1" class="form-label">Mobile Number</label>
                    <input type="text"  ngModel name="mobilenumber" class="form-control" id="exampleMobile1" >
                </div>

                <div class="mb-3">
                    <label for="exampleInputDesignation1" class="form-label">Designation</label>
                    <input type="text"  ngModel name="designation" class="form-control" id="exampleInputDesignation1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputDepartment1" class="form-label">Department</label>
                    <input type="text"  ngModel name="department" class="form-control" id="exampleInputDepartment1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputimageUrl1" class="form-label">Image Url</label>
                  <input type="text" ngModel name="imageurl" class="form-control" id="exampleInputImageUrl1">
              </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
              </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- UPDATE EMPLOYEE MODAL ENDS-->

                        <button (click)="onEmpDelete(emp.id)" class="btn btn-secondary tooltips ml-3" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



